:root {
  --primary: #020403; 
  --withe: #ffffff; 
  --gray: #ADADAD;
  --title: 150px;
  --subTitle: 50px;
  --subsection: 45px;
  --titleMobil: 40px;
  --suutitleMobil: 25px;
  --subseccionMobil: 18px;
}

*, *::before, *:after{
  box-sizing: inherit;
}

main {
  width: 75%;
  margin: auto;
}

body {
  background: var(--primary);
  font-family: 'Rubik', sans-serif;
  color: var(--withe);
  font-size: 18px;
}



.nav-bg li{
  width: 100%;
  color: var(--gray);
  list-style: none;
  display: inline;
  margin: 31px;
  font-family: 'Rubik', sans-serif;
}

.nav-bg {
  display: flex;
  justify-content: flex-end;
  margin-right: 170px;
}

nav{
  width: 75%;
  display: flex;
  justify-content: end;
  padding: 25px 0 50px  0px;
}

header img {
  display: none;
}

nav a{
  color: var(--gray);
  text-decoration: none;
}

img{
  width: 22%;
  display: block;
  margin: auto;
  margin-top: 55px;
}

.container-titles-main h2{
  color: var(--gray);
  font-family: var(--subTitle);
  display: flex;
  justify-content: center;
  margin: 63px 0 0 0;
  font-weight: 50px;
}

.container-titles-main h1{
  color: var(--withe);
  margin: 0; 
  text-align: center;
  font-size: var(--subTitle);
  font-weight: 200;
}

.icons-social-figure{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 95px;
  margin-bottom: 60px;  
}

.about-me {
  display: block;
  margin: auto;
}
.about-me h2{
  color: var(--withe);
  text-align: center;
}

.about-me p {
  color: var(--gray);
  text-align: center;
}

.my-skills{
  margin-bottom: 50px;
}

.my-skills, h2 {
  text-align: center;
  margin-top: 60px;
}

.my-group-icons{
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  width: 30%;
  margin: auto;
  row-gap: 60px;
}

.my-group-icons p{
  font-size: 12px;
}

.icons-my-skills svg{
  background-color: #1b1b1b;
  border-radius: 50px;
  padding: 10px;
}

.experience{
  text-align: center;
  width: 60%;
  margin: auto;
}

.experience h4, p{
  margin: 0;

}
.experience p{
  color: var(--gray);
}
.experience span p{
  text-align: start;
  border-bottom: 2px solid #adadad3d;
  margin: 0;
  color: var(--gray);
}

.portafolio h2{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 0;
}

.portafolio {
  text-align: center;
}

.img-portafolio{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.img-portafolio img{
  width: 90%;
  gap: 10
}

.contacto {
  text-align: center;
  padding: 2px;
  width: 20%;
  height: 6%;
}

.group-contac{
  width: 40%;
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  font-size: 8px;
  margin: auto;
  padding-top: 25px;
  
}

.group-contac svg{
  width: 50px;
  text-align: center;
  border-radius: 50px;
  border: solid 2px  var(--gray);
  padding: 15px;
}

.group-contac p{
  color: var(--gray);
}

footer {
  text-align: center;
  margin: 35px 0 20px 0;
  color: var(--gray);
}

@media(max-width: 768px){
  body{
    font-size: 18px;
    line-height: 22px;;
  }

  header img {
    position: absolute;
    filter: invert(1);
    display: block;
    right: 0;
    margin: 0;
    top: 0;
    padding: 15px 45px;
    width: 3%;    
  }
  .nav-bg{
    display: none;
  }

  .profile{
    width: 60%;
    padding-top: 45px
  }

  .container-titles-main h2{
    font-size: 21px;
  }

  .container-titles-main h1 {
    line-height: 45px;
    font-weight: 500;
    font-size: 35px;
  }

  .icons-social-figure{
    width: 25%; 
    gap: 2px;
    margin: auto;
    margin-top: 20px;
  }

  .icons-social-figure svg{
    width: 100%;
    height: 45px;
  }

  .about-me p{
    font-size: 13px;
  }

  .my-group-icons{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0;
  }

  .icons-my-skills{
    padding: 15px;
  }
  
  .experience h4{
    font-size: 13px;
  }

  .experience span{
    font-size: 14px;
  }

  .experience p {
    font-size: 15px;
  }

  .portafolio-h2{
    width: 80%;   
    display: flex;
    text-align: left;
  }
  .img-portafolio {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    margin: auto;
  }

  .contacto h2{
    text-align: left;
    padding-bottom: 30px;
  }

  .group-contac{
    display: grid;
    grid-row: inherit;
    width: 100%;
  }
 

  .group-contac p{
    font-size: 10px;
  }
}